* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: "Helvetica, Arial, sans-serif";
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

a {
  text-decoration: none;
}
